

.repair-product-logo{
    float:left;
    width:50%;
}
.repair-product-logo-d{
    width:100%;
    margin-top:10%;
}
.repair-product-image{
    float:left;
    width:50%;
}
.repair-product-image-d{
    width:100%;
}
.repair-product-box{
    background: #eee;
    padding:3%;
    margin-top:0px;
    font-size: 12rem;
    margin-top:-4px;
    line-height: 30px;
}
.repair-product-seat{
    height:7px;
}
.repair-hidden{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.color-red{
    color:red;
}
.color-black{
    color:black;
}
.font-weight{
    font-weight: bold;
}
.repair-product-price{
    font-size: 0.12rem;
}
.repair-product-span{
    color:red;
    float:left;
}
.repair-product-pic-li{
    margin-top: 20px;
}
.repair-product-pic-li li{
    width:400px;
    float:left;
    margin: 10px 0px;
}
.repair-product-pic-li .repair-product-div{
    width:380px;
    background: #fff;
}
.repair-product-pic-li li img{
    width:100%;
}
.bg-white{
    background: #fff;
}